<div id="chatWrapper">
  <div id="header">
    <button routerLink="">X</button>
  </div>
  <ul>
    <li class="1">Hello I'm a chat bot powered by IBM Watson, How can I help you?</li>
   <li *ngFor="let message of messages" [ngClass]="message.messageSender">{{message}}</li>
  </ul>
  <div id=messageBar>
    <input type="text" id="messageArea" #userMessage
      (keyup.enter)="messageSend(userMessage.value)"
      ng-model="string">
    <button (click)="messageSend(userMessage.value)">send</button>
  </div>
</div>
