#wrapper{
  padding:0px;
}
#navbarContainer {
}
#chatlogContainer {
  min-height:100vh;
  background-image: linear-gradient(to bottom, #36d1dc, #5b86e5);
}
#chatlog {
  background-color:white;
  padding-bottom: 50px;
  padding-top: 51px;
}
#messageContainer {
}
#message {
  padding:0px;
}

#messageBar {
  background:#dbdbdb;
}
