#wrapper{
  padding:0px;
}

#navbarContainer {
  margin:0px;
  padding:0px;
}

#chatlogContainer {
  min-height:100vh;
  margin:0px;
  background-image: linear-gradient(to bottom, #36d1dc, #5b86e5);
}
#chatlog {
  background-color:white;
  padding-bottom: 50px;
  border-radius:10px;
  padding-top: 51px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#message {
  padding:0px;
}

#messageBar {
  background:#dbdbdb;
  padding:5px;
}
#messageContainer {
  margin:0px;
}


input[type="text"], textarea {
  outline:none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

button {
  outline:none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow:none !important;
}

ul{
  list-style:none;
 padding:0px;
  margin:0px;
}

.user {
  padding:10px;
  border-radius:5px;
  border-bottom-left-radius:0px;
  background:#2B7AF0;
  color:white;
  max-width:50%;
}

.bot {
  padding:10px;
  border-radius:5px;
  background:#DBDBDB;
  margin-right:0px;
  margin-left:auto;
  border-bottom-right-radius:0px;
  max-width:50%;
}

