<div class="container-fluid" class="wrapper">
  <div class="row fixed-top" id="navbarContainer">
    <div class="col px-0"><app-navbar></app-navbar></div>
  </div>
  <div class="row" id="chatlogContainer">
    <div class="col-lg-8 mx-auto pre-scrollable" id="chatlog"> 
     <div *ngFor="let message of messageLog" class="my-2" [ngClass]="message.sender">
        {{message.content}}
    </div>
   </div>
  </div>
  <div class="row fixed-bottom" id="messageContainer">
    <div class="col-lg-8 mx-auto">
      <div class="row" id="messageBar">
        <div class="col-10 mx-auto" id="message">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Message here..." #userMessage
            (keyup.enter)="messageSend(userMessage.value); userMessage.value =''"
            (blur)="messageSend(userMessage.value); userMessage.value =''"
            ng-model="string">
            <span class="input-group=btn">
              <button class="btn btn-secondary"(click)="messageSend(userMessage.value)">send</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
