<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-sm-4">
        <h5 class="text-uppercase">Management</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.github.com/conorm16">Conor Mugan</a></li>
          <li><a href="https://www.github.com/kaytlinchal">Kaytlin Chaloner</a></li>
          <li><a href="https://www.github.com/maibrahi">Mamhamed Ibrahim</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5 class="text-uppercase">Project</h5>
        <ul class="list-unstyled">
          <li><a>Github</a></li>
          <li><a>Licence</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5 class="text-uppercase">Developers</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.github.com/jdcarbeck">John Carbeck</a></li>
          <li><a href="https://www.github.com/sickfila">Jakub Slowinski</a></li>
          <li><a href="https://www.github.com/jameskhere">James Kelleher</a></li>
          <li><a href="https://www.github.com/dconnaughton">Daniel Conaughton</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright py-1 text-center">
      © 2018 Copyright: SWENG6
    </div>
  </div>
</footer>
