a{
  color: inherit;
  text-decoration: none;
}
footer {
  color: #2c4272;
  margin-top:0px;
}

@media screen and (max-width:  575px), screen and (max-height: 535px) {
  li {
    display:none;
  }

}
