    <div class="container-fluid text-center text-md-left">
      <div class="row">

        <!--First column-->
        <div class="col">
          <h5 class="text-uppercase">Powered by IBM's WATSON</h5>
          <p>blah blah</p>
        
          <!--Copyright-->
          <div id="footerCR">
            © 2018 Copyright:
            <a class="text-white" routerLink=""> Guidance Chatbot </a>
          </div>
        </div>
        <!--/.Copyright-->

        <!--/.First column-->

        <!--Second column-->
          <div class="col">
          <h5 class="text-uppercase" id="teamList">Our Management Team</h5>
            <div class="list-group">
              
              <a href="https://www.github.com/conorm16" class="list-group-item">Conor Mugan</a>
              <a href="https://www.github.com/kaytlinchal" class="list-group-item">Kaytlin Chaloner</a>
              <a href="https://www.github.com/maibrahi" class="list-group-item">Mamhamed Ibrahim</a>
              
            </div> 
            
          </div>
          <!--/.Second column-->
            
          <!--/.Third column-->
          <div class="col">
            <h5 class="text-uppercase">Our Team of Developers</h5>            
            
            <div class="list-group">
              <a href="https://www.github.com/jdcarbeck" class="list-group-item">John Carbeck</a>
              <a href="https://www.github.com/sickfila" class="list-group-item">Jakub Slowinski</a>
              <a href="https://www.github.com/jameskhere" class="list-group-item">James Kelleher</a>
              <a href="https://www.github.com/dconnaughton" class="list-group-item">Daniel Connaughton</a>               
            </div>  
          </div>
          <!--/.Third column-->
        </div>
    </div>
    <!--/.Footer Links-->

