.page-footer
{
  padding: 10px 15px;
  background-color: #212121;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
