<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase" id="teamList">Our Team</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Conor Mugan</a>
                    </li>
                    <li>
                        <a href="#!">Daniel Connaughton</a>
                    </li>
                    <li>
                        <a href="https://www.github.com/sickfila">Jakub Slowinski</a>
                    </li>
                    <li>
                        <a href="#!">James Kelleher</a>
                    </li>
                    <li>
                        <a href="https://www.github.com/jdcarbeck">John Carbeck</a>
                    </li>
                    <li>
                        <a href="#!">Kaytlin Chaloner</a>
                    </li>
                    <li>
                        <a href="#!">Mamhamed Ibrahim</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a routerLink=""> Guidance Chatbot </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
           
