<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
      <div class="row">

        <!--First column-->
        <div class="col">
          <h5 class="text-uppercase">Powered by IMB's WATSON</h5>
          <p>blah blah</p>
        </div>
        <!--/.First column-->

        <!--Second column-->
          <div class="col">
          <h5 class="text-uppercase" id="teamList">Our Management Team</h5>
          <ul style="list-style-type:disc">
              <li>
                <a href="https://www.github.com/conorm16">Conor Mugan</a>
              </li>
              <li>
                <a href="#!">Kaytlin Chaloner</a>
              </li>
              <li>
                <a href="https://www.github.com/maibrahi">Mamhamed Ibrahim</a>
              </li>            
                    
            </ul> 
            
          </div>
          <!--/.Second column-->
            
          <!--/.Third column-->
          <div class="col">
            <h5 class="text-uppercase">Our Developers</h5>            
            <p>Frontend</p>
            <ul style="list-style-type:disc">
              
              <li>
                <a href="https://www.github.com/jdcarbeck">John Carbeck</a>
              </li>
              <li>
                <a href="https://www.github.com/sickfila">Jakub Slowinski</a>
              </li>
            </ul>
               
              <p>Backend</p>
              <ul style="list-style-type:disc">                
              <li>
                <a href="https://www.github.com/jameskhere">James Kelleher</a>
              </li>
              <li>
                <a href="https://github.com/dconnaughton">Daniel Connaughton</a>
              </li>  
            </ul>  
          </div>
          <!--/.Third column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a routerLink=""> Guidance Chatbot </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
           
