<div class="cover-container d-flex h-100 mx-auto flex-column" id="mainContainer">
  <header class="masthead mb-auto"><app-navbar></app-navbar></header>
  <div class="container p-10" id="contentContainer">
    <h1>guideBot</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus mattis molestie a iaculis at erat pellentesque. Blandit aliquam etiam erat velit. Vitae proin sagittis nisl rhoncus mattis rhoncus.</p>
  </div>
  <footer class="mastfoot mt-auto"><app-footer></app-footer></footer>
</div>
