#mainContainer {
  padding: 0px;
  height:100vh;
  background-image: linear-gradient(to bottom, #36d1dc, #5b86e5);
}

h1 {
  text-align:center;
}

button {
  outline:none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


#tagLine {
  display:none;
}

#contentContainer {
  color:white;
}

@media screen and (max-width:  575px), screen and (max-height: 430px) {
  #appDescription {
    display:none;
  }
  #tagLine {
    display:inline;  
  }
}
