<div class="cover-container d-flex h-100 mx-auto flex-column" id="mainContainer">
  <header class="masthead mb-auto"><app-navbar></app-navbar></header>
  <div class="container" id="contentContainer">
    <div class="row" id="brandName">
      <div class="col">
        <h1 class="display-4 text-center">guideBot</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col p-3">
        <p class="lead" id="tagLine">A Course and University Selection Chat Bot</p>
        <p class="lead" id="appDescription">
guideBot helps sixth year secondary students find the right course and third level institution. Powered by IBM's Watson, this chat bot was developed for the software engineering project for Trinity College Dublin.
        </p>
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary mx-auto" routerLink="chat">let's get started</button>
    </div>
  </div>
  <footer class="mastfoot mt-auto"><app-footer></app-footer></footer>
</div>
