<div class="cover-container d-flex h-100 mx-auto flex-column" id="mainContainer">
  <header class="masthead mb-auto"><app-navbar></app-navbar></header>
  <div class="container" id="contentContainer">
    <div class="row" id="brandName">
      <div class="col">
        <h1 class="display-4 text-center">guideBot</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col p-3">
        <p class="lead" id="tagLine">A Course and University Selection Chat Bot</p>
        <p class="lead" id="appDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus mattis molestie a iaculis at erat pellentesque. Blandit aliquam etiam erat velit. Vitae proin sagittis nisl rhoncus mattis rhoncus.</p>
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary mx-auto" routerLink="chat">let's get started</button>
    </div>
  </div>
  <footer class="mastfoot mt-auto"><app-footer></app-footer></footer>
</div>
