
<body>
  <div class="wrapper">
      <div class="container" id="mainContainer">
        <div class="container" id="headContainer">
          <div class="primary text-black" class="text-center">
            <h1>Guidance Chat Bot</h1>      
            <p>This bot provides a quick and easy way for 6th years to find the course or college best suited for you</p>
            <button type="button" class="btn btn-lg" routerLink="chat">Let's get started</button>
          </div>
        </div>
        <div class="container" id="secondContainer">
          <div class="primary text-black" class="text-center">
            <p>Something about why the bot is good and accurate.</p>
          </div>
        </div>
        <div class="container" id="filler">
          <div class="primary text-black" class="text-center">
            <p>This fills the page with a temporary workaround</p>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><p>blah blah</p>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          </div>
        </div>
         

      </div>
   
  </div>
</body>
