<div class="wrapper">
  <div id="header">
    <div id="centeringDiv">
      <div id="mainContainer">
        <div class="primary text-black" class="text-center">
          <h1>Guidance Chat Bot</h1>
        
          <p>This bot provides a quick and easy way for 6th years to find the course or college best suited for you</p>
         
          <button type="button" class="btn btn-default" routerLink="chat">Let's get started</button>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="footerListContainer">
      <div class="footerList" id="teamList">
        <div class="footerListTitle"><h3>Team</h3></div>
        <ul>
          <li>Conor Mugan</li>
          <li>Daniel Connaughton</li>
          <li>Jakub Slowinski</li>
          <li>James Kelleher</li>
          <li>John Carbeck</li> 
          <li>Kaytlin Chaloner</li>
          <li>Mamhamed Ibrahim</li>
        </ul>
      </div>
      <div class="footerList" id="projectList">
        <div class="footerListTitle"><h3>Project</h3></div>
        <ul>
          <li>Github</li>
        </ul>
      </div>
      <div class="footerList" id="legalList">
        <div class="footerListTitle"><h3>Legal</h3></div>
        <ul>
          <li>Licence</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>
  </div>
</div>
